div.regions div.region {
    position: relative;
    font-size: 1.4em;
    list-style: none;
    padding-top: 0.5em;
    border-bottom: 1px solid #333;
    cursor: pointer;
    user-select: none;
}

div.regions div.region:last-of-type {
    border-bottom: none;
}

div.regions div.region div.stations {
    height: 0;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s;
}

div.regions div.region.show {
    font-weight: bold;
}

div.regions div.region.show div.stations {
    height: auto;
    opacity: 1;
    transform: scaleY(1);
    font-weight: normal;
}
